@charset "UTF-8";

.item {
  width: 65px;
  padding: 10px;
  background: #00bbdd;
  color: #fff;
  text-align: center;
  margin: 10px;
}

.flex-first-left {
  display: flex;
  flex-direction: row;
}

.flex-first-right {
  display: flex;
  flex-direction: row-reverse;
}

.flex-second {
  display: flex;
  flex-direction: column;
}

.flex-third {
  display: flex;
  flex-direction: column-reverse;
}

.wrap-first {
  display: flex;
  flex-wrap: nowrap;
}

.wrap-second {
  display: flex;
  flex-wrap: wrap;
}

.wrap-third {
  display: flex;
  flex-wrap: wrap-reverse;
}

.justify-first-left {
  display: flex;
  justify-content: flex-start;
}

.justify-first-right {
  display: flex;
  justify-content: flex-end;
}

.justify-second {
  display: flex;
  justify-content: center;
}

.justify-third {
  display: flex;
  justify-content: space-between;
}

.justify-fourth {
  display: flex;
  justify-content: space-around;
}

.grid-item {
  background: #00bbdd;
  color: #fff;
  padding: 10px;
}

.grid-first {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
}

.grid-second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.grid-third {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 10px;
  margin-top: 20px;
}

.grid-square {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
  margin-top: 20px;
}

.red-box {
  grid-column: 1/3;
  background: #dd0700;
}

.green-box {
  grid-row: 2/4;
  background: #0bdd00;
}

.yellow-box {
  grid-column: 2/4;
  background: #d9dd00;
}